@{
    ViewData["Title"] = "Plano conta";
}

<h3>Plano de Contas</h3>
<hr>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>#</th>
        <th>#</th>
    </tr>

    @{
        foreach (var item in (List<PlanoContaModel>)ViewBag.Lista)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.Tipo</td>
                <td>
                    <button type='button' class='btn btn-block btn-warning'
                    onclick="EditarPlanoConta(@item.Id.ToString())">Editar</button>
                </td>
                <td>
                    <button type='button' class='btn btn-block btn-danger' onclick="AbrirModal()"
                    data-id="@item.Id.ToString()">Excluir</button>
                </td>
            </tr>
        }
    }

</table>

<button type="button" class="btn btn-block btn-primary" onclick="CriarPlanoConta()">
    Criar plano de conta
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
            </div>
            <div class="modal-body">
                Deseja realmente excluir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="">Excluir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="AbrirModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function CriarPlanoConta() {
        window.location.href = "../PlanoConta/CriarPlanoConta";
    }

    function EditarPlanoConta(id) {
        window.location.href = "../PlanoConta/CriarPlanoConta/" + id;

    }

    function ExcluirPlanoConta(id) {
        window.location.href = "../PlanoConta/ExcluirPlanoConta/" + id;
    }

    function AbrirModal() {
        $('#exampleModalCenter').modal('toggle');
    }

</script>
