@{
    ViewData["Title"] = "Transação";
}

<h3>Transação</h3>
<hr>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Histórico</th>
        <th>Plano de Conta</th>
        <th>#</th>
        <th>#</th>
    </tr>

    @{
        foreach (var item in (List<TransacaoModel>)ViewBag.Lista)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Data</td>
                <td>@item.Tipo</td>
                <td>@item.Valor</td>
                <td>@item.Historico</td>
                <td>@item.IdPlanoConta</td>
                <td>
                    <button type='button' class='btn btn-block btn-warning'
                    onclick="EditarTransacao(@item.Id.ToString())">Editar</button>
                </td>
                <td>
                    <button type='button' class='btn btn-block btn-danger'
                    onclick="AbrirModal(@item.Id.ToString())">Excluir</button>
                </td>
            </tr>

            <div class="modal fade" id=@("modalTransacao" + @item.Id.ToString()) tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir esta transação?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="excluir" name="excluir" class="btn btn-danger"
                            onclick="ExcluirTransacao(@item.Id.ToString())">Excluir</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="FecharModal(@item.Id.ToString())">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</table>
<button type="button" class="btn btn-block btn-primary" onclick="CriarTransacao()">
    Criar transação
</button>

<script>
    function CriarTransacao() {
        window.location.href = "../Transacao/CriarTransacao";
    }

    function EditarTransacao(id) {
        window.location.href = "../Transacao/CriarTransacao/" + id;

    }

    function ExcluirTransacao(id) {
        window.location.href = "../Transacao/ExcluirTransacao/" + id;
    }

    function AbrirModal(id) {
        $('#modalTransacao' + id).modal('show');
    }

    function FecharModal(id) {
        $('#modalTransacao' + id).modal('hide');
    }
</script>
